<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/css/codemirror.min.css" />
    <script src="/static/js/codemirror.min.js"></script>
    <script src="/static/js/xml.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>

<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.css" />-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/codemirror.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/xml/xml.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.0/mode/javascript/javascript.min.js"></script>-->
    <!-- 更多的模式文件可以根据需要添加 -->

</head>
<body>

<label><textarea id="id_code_cont" class="ui label"></textarea></label>

<script>
    // 假设后端传来的字符串存储在变量 backendString 中
    var backendString = "console.log('Hello, World!');";

    var editor = CodeMirror.fromTextArea(document.getElementById('id_code_cont'), {
        mode: 'text/javascript',  // 根据需要设置正确的模式，这里是 JavaScript
        theme: 'default',
        lineNumbers: true,
        readOnly: true  // 如果你不希望用户编辑代码，可以设置为 true
    });
    editor.setValue(backendString);
</script>

</body>
</html>